.l-container {
  padding: 0 70px;
  @media screen and (max-width: 425px) {
    padding: 0 25px;
  }
}

// ************************************
// Header
// ************************************
#header {
  @include x-bg-img(cover, no-repeat, center);
  position: relative;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 130px;
  background-image: url("../img/header-bg.jpg");
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, .5);
  }
}

// ************************************
// Info section
// ************************************
#info {
  padding-top: 20px;
}

// ************************************
// Customers section
// ************************************
#customers {
  padding-top: 175px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    padding-top: 65px;
  }
}

// ************************************
// Dishes section
// ************************************
#dishes {
  padding-top: 65px;
}

// ************************************
// Team section
// ************************************

#team {
  padding-top: 75px;
}

// ************************************
// News section
// ************************************

#news {
  padding-top: 80px;
}


// ************************************
// Events section
// ************************************

#events {
  padding-top: 130px;
  @media screen and (max-width: 1024px) {
    overflow-x: hidden;
  }
  @media screen and (max-width: 768px) {
    padding-top: 65px;
  }
}

// ************************************
// Timetable section
// ************************************

#timetable {
  padding-top: 55px;
  padding-bottom: 30px;
}

#footer {
  background-color: $dark;
  padding-top: 35px;
  padding-bottom: 30px;
}
