.btn {
  padding: 10px;
  color: $green;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  border: 2px solid $green;
  border-radius: 5px;
}

.top-nav_btn {
  color: $white;
  border: 2px solid $white;
}
