.event-img {
  position: relative;
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 100%;
    min-height: 350px;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.event-info {
  width: 50%;
  padding: 20px 80px 90px;
  background: #fff;
  @media screen and (max-width: 1024px) {
    padding: 20px 20px 0;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  .block {
    padding-bottom: 40px;
    border-bottom: 1px solid #d8d8d8;
    @media screen and (max-width: 1024px) {
      padding-bottom: 20px;
      border-bottom: none;
    }
  }
  h2 {
    margin-bottom: 20px;
    color: #303030;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
  }
  time {
    color: #303030;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 35px;
    &::after {
      display: block;
      width: 153px;
      height: 1px;
      margin: 20px 0 30px;
      content: "";
      background-color: #d8d8d8;
      @media screen and (max-width: 1024px) {
        margin: 20px 0 0;
      }
    }
    &::before {
      position: absolute;
      bottom: 0;
      @include x-bg-img (contain, no-repeat, center);
      background-image: url('../../img/calendar-icon.png');
      display: block;
      content: "";
      width: 20px;
      height: 20px;
    }
  }
  p {
    margin-bottom: 40px;
    color: #303030;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }
}
