.features {
  justify-content: center;
  display: flex;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  & > li {
    padding: 0 70px;
    text-align: center;
    border-right: 2px solid #dfdfdf;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
    @media screen and (max-width: 768px) {
      width: 50%;
      padding: 0 20px 30px;
      border: none;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
    @media screen and (max-width: 630px) {
      width: 100%;
    }
    h3 {
      margin-bottom: 30px;
      color: #303030;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
    }
    p {
      color: $smoke1;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      max-width: 500px;
    }
  }
}

.feature-img {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  overflow: hidden;
  background-color: $grey1;
  border-radius: 50%;
  img {
    position: absolute;
    right: 0;
    left: 0;
  }
}
