.gallery {
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    max-width: 1200px;
  }
}

.gallery-row-1, .gallery-row-2 {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  & > li {
    position: relative;
    width: 200px;
    min-height: 200px;
    overflow: hidden;
    cursor: pointer;
    &:hover .dish-info {
      transform: translateY(0%);
    }
    @media screen and (min-width: 1440px) {
      margin: 20px;
    }
    @media screen and (max-width: 1200px) {
      margin: 1%;
    }
    @media screen and (max-width: 425px) {
      width: 50%;
      min-height: 170px;
      margin: 0;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      @media screen and (max-width: 890px) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.dish-info {
  position: absolute;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 10px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  transform: translateY(100%);
  transition: all 300ms;
  @media screen and (max-width: 425px) {
    padding: 10px 5px 0;
  }
  .dish-name {
    margin-bottom: 10px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    &::after {
      display: block;
      width: 67px;
      height: 2px;
      margin: 10px auto 0;
      content: "";
      background-color: #d8d8d8;
    }
  }
  .about-dish {
    margin-bottom: 10px;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    &::after {
      @extend .dish-name::after;
      margin: 10px auto 15px;
    }
  }
  .dish-price {
    color: #fff;
    font-family: "Yeseva One";
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
  }
}

