.header-text {
  @media screen and (max-width: 1024px) {
    text-align: center;
  }
  h1 {
    color: $white;
    font-family: "Yeseva One";
    font-size: 105px;
    font-weight: 400;
    line-height: 72px;
    text-shadow: 1px 2px 2px rgba(10, 12, 12, .4);
    @media screen and (max-width: 768px) {
      font-size: 55px;
      line-height: 50px;
    }
    span {
      color: $white;
      font-family: "Open Sans";
      font-size: 43px;
      font-weight: 400;
      text-shadow: 1px 1px 2px rgba(10, 12, 12, .4);
      text-transform: uppercase;
      @media screen and (max-width: 768px) {
        font-size: 25px;
      }
    }
  }
  p {
    max-width: 240px;
    color: $white;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-shadow: 1px 1px 2px rgba(10, 12, 12, .4);
    @media screen and (max-width: 1024px) {
      margin: auto;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}
