.top-nav {
  margin: 0 auto 185px;
  text-align: center;
  @media screen and (max-width: 768px) {
    margin-bottom: 80px;
  }
}

.top-nav_logo {
  margin-bottom: 20px;
}

.top-nav_menu {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid rgba(255, 255, 255, .8);
  border-right: none;
  border-left: none;
  & > li {
    margin-right: 45px;
    color: $white;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 0 4px #000;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 1024px) {
      margin-right: 30px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 20px 0;
      margin-right: 0;
      &:hover:not(:last-child) {
        background-color: rgb(31, 31, 31);
        box-shadow: 0 1px 5px #000;
      }
    }
  }
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    z-index: 5;
    display: none;
    padding: 0;
    background-color: rgba(0, 0, 0, .8);
  }
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: $white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.bottom-nav_menu {
  align-items: center;
  display: flex;
  & > li {
    margin-right: 45px;
    color: $dark;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $green;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 20px 0;
      margin-right: 0;
      &:hover:not(:last-child) {
        box-shadow: 0 1px 5px $grey1;
      }
    }
  }
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    display: none;
    padding: 0;
    text-align: center;
    background-color: $white;
  }
}

.footer-nav {
  text-align: center;
  &::after {
    display: block;
    width: 112px;
    height: 1px;
    margin: 20px auto 30px;
    content: "";
    background-color: #dfdfdf;
  }
  .footer_logo {
    margin-bottom: 25px;
  }
  .footer-nav_menu {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    color: #fff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    & > li {
    padding: 15px;
    }
  }
}
