.news-list {
  justify-content: center;
  display: flex;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }
  & > li {
    padding: 0 70px;
    text-align: center;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    @media screen and (max-width: 1024px) {
      width: 50%;
      padding: 0 40px 30px;
      border: none;
      &:first-child {
        padding-left: 40px;
      }
      &:last-child {
        padding-right: 40px;
      }
    }
    @media screen and (max-width: 750px) {
      width: 100%;
    }
    @media screen and (max-width: 425px) {
      padding: 0 0 30px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    h3 {
      height: 15px;
      color: #303030;
      font-family: "Open Sans";
      font-size: 17px;
      font-weight: 600;
    }
    p {
      max-width: 500px;
      margin-bottom: 30px;
      color: #303030;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
    }
  }
}

.news-img {
  position: relative;
  width: 240px;
  height: 240px;
  margin: 0 auto 10px;
  margin-bottom: 40px;
  overflow: hidden;
  background-color: $grey1;
  border-radius: 50%;
  img {
    position: absolute;
    right: 0;
    left: 0;
  }
}

.publication-info {
  color: #303030;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  &::after {
    display: block;
    width: 112px;
    height: 2px;
    margin: 15px auto;
    content: "";
    background-color: #dfdfdf;
  }
}
