.staff {
  justify-content: center;
  display: flex;
  @media screen and (max-width: 768px) {
      flex-wrap: wrap;
  }
  & > li {
    position: relative;
    height: 500px;
    max-width: 200px;
    overflow: hidden;
    cursor: pointer;
    &:hover .about-member {
      transform: translateY(50%);
    }
    @media screen and (max-width: 768px) {
      height: 300px;
      width: 33.3%;
    }
    @media screen and (max-width: 525px) {
        height: 300px;
        width: 50%;
      }
  }
}

.about-member {
  position: absolute;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 10px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  transform: translateY(100%);
  transition: all 300ms;
  .name {
    color: #fff;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 600;
  }
  .post {
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    &::after {
      display: block;
      width: 82px;
      height: 2px;
      margin: 15px auto 0;
      content: "";
      background-color: #d8d8d8;
    }
  }
  p {
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
  }
}
