h2 {
  margin-bottom: 8px;
  color: $smoke2;
  font-family: "Open Sans";
  font-size: 27px;
  font-weight: 600;
}

h3 {
  margin-bottom: 23px;
  color: $grey1;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 400;
}

